  <crm-metric-card
    [routerLink]="['/projects', project().id]"
    class="crm-metric-card--hero-header crm-metric-card--clickable"
    [hint]="'Created: ' + project().date"
    [isLive]="project().status === ProjectStatusEnum.ACTIVE"
  >
    <h2 crm-card-header>
      {{ project().name }}
    </h2>

    <span crm-card-label>
    {{ project().client.companyName }}
  </span>

    <div class="project-card-meta">
      <span class="project-badge project-badge--{{ project().status }}">
        {{ project().status }}
      </span>
      <div class="project-tasks-count">
        Tasks linked: <strong>{{ project().tasksCount }}</strong>
      </div>
    </div>

  </crm-metric-card>
