  <div class="card-wrapper" [class.is-expanded]="isExpanded()">
  <crm-metric-card
    class="crm-metric-card--hero-header"
    [hint]="'Created: ' + project().date"
    [isLive]="project().status === ProjectStatusEnum.ACTIVE"
  >
    <h2 crm-card-header>
      <a href="#" (click)="onTitleClick($event)" class="project-title-link">
        {{ project().name }}
      </a>
    </h2>

    <span crm-card-label>
      {{ project().client.companyName }}
    </span>

    <div class="project-card-meta">
      <span class="project-badge project-badge--{{ project().status }}">
        {{ project().status }}
      </span>
      <div class="project-tasks-count">
        Tasks linked: <strong>{{ project().tasksCount }}</strong>
      </div>
    </div>
    
    @if (project().description) {
      <div class="project-card-description">
        <crm-expandable-text 
          [text]="project().description" 
          [maxHeight]="60"
          (expandedChange)="onExpandedChange($event)">
        </crm-expandable-text>
      </div>
    }

  </crm-metric-card>
</div>
