@use 'variables' as *;

.kanban-page-header {
  padding: $space-lg $space-lg 0;
  display: flex;
  justify-content: flex-end;
}

.kanban-board-container {
  padding: $space-lg;
  height: 100%;
}

.kanban-grid {
  display: grid;
  overflow-x: auto;
  grid-template-columns: 50px repeat(4, minmax(200px, 1fr));
  gap: $space-md;
  background-color: $color-bg-muted;
  padding: $space-md;
  border-radius: $radius-lg;
  border: 1px solid $color-border-taupe;
}


.grid-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-sm $space-md;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  color: $color-text-dark;
  background-color: $color-bg-card;
  border-radius: $radius-md;
  border: 1px solid $color-border-taupe;

  &.corner {
    min-height: 40px;
    max-height: 50px;
    font-style: italic;
    background-color: transparent;
    font-size: $font-size-xs;
    border: none;
  }

  &.status {
    min-height: 40px;
    max-height: 50px;
    text-align: center;
  }

  &.priority {
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 150px;
  }
}

.grid-drop-cell {
  background-color: #ffffff;
  border: 1px dashed $color-border-taupe;
  border-radius: $radius-md;
  min-height: 150px;
  padding: $space-sm;
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    border-color: $color-primary;
  }

  &.cdk-drop-list-dragging {
    background-color: rgba($color-primary, 0.02);
    border-style: solid;
  }
}

.task-card {
  background-color: #ffffff;
  border: 1px solid $color-border-taupe;
  border-radius: $radius-md;
  padding: $space-md;
  box-shadow: $shadow-sm;
  cursor: grab;
  transition: box-shadow 0.2s, transform 0.2s;

  &--header {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &--priority {
    margin-top: $space-sm;
    border: 1px solid $color-border-taupe;
    border-radius: $radius-md;
    font-size: 10px;
    font-weight: $font-weight-bold;
    padding: $space-xs $space-sm;
    background-color: $color-bg-muted;
    color: $color-text-dark;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: fit-content;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    &:hover {
      cursor: pointer;
      border-color: $color-primary;
      background-color: rgba($color-primary, 0.05);
    }
  }

  &:active {
    cursor: grabbing;
  }

  h4 {
    margin: 0 0 $space-xs 0;
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    color: $color-text-dark;
  }

  p {
    margin: 0;
    font-size: $font-size-xs;
    color: $color-text-muted;
    line-height: 1.4;
  }
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-preview {
  box-shadow: $shadow-md;
  transition: none !important;
  pointer-events: none;
}
