@import "tailwindcss";

@theme {
  --color-taupe-100: #ebe6e0;
  --color-taupe-200: #d9d2c8;
  --color-taupe-500: #7a6f63;
  --color-mauve-300: #c8b4c0;
  --color-mauve-500: #9a7d8f;
  --color-dark: #1e293b;
}
