<div class="projects-container">
  <h2>My projects:</h2>

  @for (project of loadedProjects(); track project.id) {
    <div class="project-card">
      <div class="project-header">
        <h3>{{project.name}}</h3>
        <span class="project-budget">{{project.budget}} $</span>
      </div>

      <p class="project-client">Client: {{ project.clientName }}</p>

      <button class="btn-toggle-task" (click)="startEditForm(project.id)">
        {{activeProjectId === project.id ? 'Cancel' : 'Add a task'}}
      </button>

      @if (activeProjectId === project.id) {
        <form [formGroup]="taskForm" (ngSubmit)="onSubmitTask(project.id)" class="add-task-form">
          <div class="form-group">
            <input type="text" formControlName="title" placeholder="Task title">
            @if (taskForm.get('title')?.touched && taskForm.get('title')?.errors?.['required']) {
              <small class="error-text">Title required</small>
            }
            @if (taskForm.get('title')?.touched && taskForm.get('title')?.errors?.['minlength']) {
              <small class="error-text">Minimum 3 symbols</small>
            }
          </div>

          <div class="form-group">
            <textarea formControlName="description" placeholder="Task description"></textarea>
            @if (taskForm.get('description')?.touched && taskForm.get('description')?.errors?.['required']) {
              <small class="error-text">Description required</small>
            }
          </div>

          <button type="submit" [disabled]="taskForm.invalid" class="btn-submit-task">Save task</button>
        </form>
      }

      <h4 class="board-title">Kanban Board:</h4>

      <div class="kanban-board">
        <div class="kanban-column">
          <div class="column-header todo">To do</div>

          <div class="column-task">
            @for (task of project.tasks; track task.id) {
              @if (task.status === 'todo') {
                <div class="task-item">
                  <h5>{{ task.title }}</h5>
                  <p>{{ task.description }}</p>
                  <button class="btn-status-task"
                          (click)="changeStatus(project.id, task.id, task.status)">
                    Put "In Progress" >
                  </button>
                </div>
              }
            }
          </div>
        </div>

        <div class="kanban-column">
          <div class="column-header in-progress">In Progress</div>
          <div class="column-tasks">
            @for (task of project.tasks; track task.id) {
              @if (task.status === 'in-progress') {
                <div class="task-item">
                  <h5>{{ task.title }}</h5>
                  <p>{{ task.description }}</p>
                  <button class="btn-status-task visual-done"
                          (click)="changeStatus(project.id, task.id, task.status)">
                    Put "Done" >
                  </button>
                </div>
              }
            }
          </div>
        </div>

        <div class="kanban-column">
          <div class="column-header done">Done</div>
          <div class="column-tasks">
            @for (task of project.tasks; track task.id) {
              @if (task.status === 'done') {
                <div class="task-item">
                  <h5>{{ task.title }}</h5>
                  <p>{{ task.description }}</p>
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  } @empty {
    <p>The projects list is empty. Add some new project.</p>
  }
</div>
